<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99164089430-02k67ggg3pqraqu7u7hpd7ebuj0gvhkl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99164089430-02k67ggg3pqraqu7u7hpd7ebuj0gvhkl</string>
	<key>API_KEY</key>
	<string>AIzaSyDMLv2l54Tka9LiAwpTgReTto5nNHWSuQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>99164089430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectMuk</string>
	<key>PROJECT_ID</key>
	<string>muksirikorn-eb7e1</string>
	<key>STORAGE_BUCKET</key>
	<string>muksirikorn-eb7e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99164089430:ios:2109cb0ff2989fb8815ff7</string>
	<key>DATABASE_URL</key>
	<string>https://muksirikorn-eb7e1.firebaseio.com</string>
</dict>
</plist>